<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
     <!--link rel="stylesheet" href="styles.css"-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <!--TODO: GET BRANDING HEADERS-->
  <title>Novarad COVIDAI Analysis</title>
  <h1 class="center"> NOVARAD COVIDAI ANALYSIS</h1>
  
  {% if info %}
      <h2 class="left"> Study Code: {{info.accessCode}} </h2>
      <p class="left">Images Recieved: {{info.numImgs}}</p>
      <div class="right">
        <h2>{{ info.facility }}</h2>
        <p>Test Date: {{info.studyDate}}</p>
        <!--p>Test Time: {{info.studyTime}}</p-->
      </div>

      <div class="left">
        <h1>Diagnosis</h1>
        <p>Ground glass particulates consistent with COVID19 present: {{info.overall}}</p>
        <p>Confidence level: {{info.pred}}</p>
        <p>Percent of CT showing ground glass particulates: {{info.percShown}}</p>
      </div>

      <div class="left"">
        <h1>Detailed Summary</h1>
        <p>Examples of ground glass particulates are found in the following images</p>
        <!--TODO: IMAGES-->
        <div class="distrHorz">
        {% for url in info.imageUrls %}
            <div>
              <a href="{{url}}" target="_blank">
                <img src="{{url}}" style="width:150px" alt="Scan Image">
              </a>
            </div>
        {% endfor %}
        </div>
      </div>

      <div class="left">
        <h1>Recommendations</h1>
        <p>{{info.recommendation}}</p>
      </div>

      <div class="left">
        <p style="margin-top:2em">Report available until: {{info.availUntil}}</p>
      </div>
      {% else %}
    <h2>Data has not yet been processed. Please reload or check back soon.</h2>
  {% endif %}
</body>