<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <title>Covid-19 AI Diagnostic Assistant</title>
  <div class="spacebetween" style="padding:0">
    <div><img src="{{ url_for('static', filename='images/novlogo.svg') }}" alt="NOVARAD" style="width:100px"></div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src = "{{ url_for('static', filename='images/ailogo.svg') }}" alt="NOVARAD COVIDAI ANALYSIS" style="max-width:180px">
      <h2>Covid-19 AI Diagnostic Assistant</h2>
    </div>
    <div style="width:100px"><!--img src="{{ url_for('static', filename='images/microsoftlogo.png') }}" alt="Microsoft" style="width:100px"--></div>
  </div>
    
  {% if status == "FINISHED" %}
      <div class="spacebetween">
        <div class="flexVert">
          <h2>Case Number: {{info.accessCode}} </h2>
          <p>Images Recieved: {{info.numImgs}}</p>
        </div>      
        <div>
          <h2>{{ info.facility }}</h2>
          <p>Test Date: {{info.studyDate}}</p>
          <p>Test Time: {{info.studyTime}}</p>
        </div>
      </div>

      <div class="left">
        <h1 style="padding-top:0.6em">Diagnosis</h1>
        <p>Diagnostic finding consistent with COVID-19 present: {{info.overall}}</p>
        <p>Confidence level: {{info.pred}}</p>  
        <p>Percent of CT showing evidence of COVID-19: {{info.percShown}}</p>
      </div>

      <div class="left"">
        <h1>Detailed Summary</h1>
        {% if info.overall == "NO" %}
          <p>Representative lung images:</p>
        {% else %}
          <p>Evidence of COVID-19 shown in the following images:</p>
        {% endif %}
        <div class="spaceevenly">
        {% for url in info.imageUrls %}
            <div>
              <a href="{{url}}" target="_blank">
                <img src="{{url}}" style="width:150px" alt="Scan Image">
              </a>
            </div>
        {% endfor %}
        </div>
      </div>

      <div class="left">
        <h1 style="padding-top:1em">Recommendations</h1>
        <p>{{info.recommendation}}</p>
      </div>

      <!--div class="left">
        <p style="margin-top:2em">Report available until: {{info.availUntil}}</p>
      </div-->

      <div class="left" style="padding-top:2em">
        <p class="xsmallFont">Disclaimer: Novarad's COVID AI runs {{info.numModels}} consecutive models on each study to better ensure accuracy and reduces
          the chance of false negatives. Currently, the models have been trained on {{info.numTrainScans}} CT scans of both patients with confirmed COVID and
          those cosidered Normal. The models have also been trained to weed out other forms of pneumonia. The total images run through the
          algorithm is {{info.numTrainImages}} images. The current specificity is {{info.specificity}}% and the current sensitivity is {{info.sensitivity}}% with an overall accuracy of {{info.accuracy}}%.</p>
      </div>

  {% elif status == "UNFINISHED" %}
    <h2 class="center">Data has not yet been processed. Please reload or check back soon.</h2>
 
  {% elif status == "EXPIRED" %}
    <h2 class="center">No data found for this study, entry may have expired.</h2>
 
  {% endif %}
  <div class="spacebetween">
    <p><strong>Powered by Novarad</strong></p>
    <p><strong>{{info.currentTime}}</strong></p>
  </div>
  
</body>